.Button {
    background: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
    width: 170px;
    height: 40px;
    border-radius: 50px;
    border: none;

    a {
        text-decoration: none;
        color: var(--neutral-white);
        font-weight: 700;
    }

    &:hover {
        background: var(--cyan-gradient);
        cursor: pointer;
    }

    @media screen and (max-width: 550px) {
        & {
            height: 50px;

            &.for-free-button {
              width: 100%;  
            }
            
        }
  
        
    }
}