.InfoBox {
    height: 250px;
    width: 350px;
    padding: 0 30px;

    img {
        height: 90px;
    }

    @media screen and (max-width: 900px) {
        & {
            padding: 10px;
            width: 300px;
        }
        
    }

    @media screen and (max-width: 750px) {
        & {
            width: 260px;
            padding: 10px;
        }
        
    }

    @media screen and (max-width: 475px) {
        img {
            height: 70px;
        }
    }


}