.App {
  --intro-blue: hsl(217, 28%, 15%);
  --main-background-blue: hsl(218, 28%, 13%);
  --footer-background-blue: hsl(216, 53%, 9%);
  --testimonials-background-blue: hsl(219, 30%, 18%);

  --cyan-gradient: hsl(176, 68%, 64%);
  --blue-gradient: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);

  --side-padding: 50px;
  --mobile-side-padding: 20px;

  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;


  




  text-align: center;


}
