body {
  margin: 0;
    /* body font-family weights: 400, 700 */
  font-family: 'Open Sans', sans-serif;

    /* headings-call-to-action-header navigation font-family weights: 400, 700
    font-family: 'Raleway', sans-serif; */
font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
